<div class="row">
  <div class="col-lg-4 order-last order-lg-first">
    <h2 class="text-center">Preferiti</h2>
    <div *ngIf="favourites == undefined && isLoggedIn; else loaded" class="loader"></div>
    <ng-template #loaded>
      <div *ngIf="isLoggedIn; else guest">
        <ul class="list-group">
          <li *ngFor="let train of favourites" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Treno {{train.num}}</h5>
              <div class="btn-group" role="group">
                <button *ngIf="train.isFavourite" type="button" class="btn btn-warning btn-sm" (click)="setFavourite(train, false)"><mat-icon>star</mat-icon></button>
                <button *ngIf="!train.isFavourite" type="button" class="btn btn-outline-warning btn-sm" (click)="setFavourite(train, true)"><mat-icon>star_border</mat-icon></button>
                <div class="btn-group" role="group">
                  <button *ngIf="getSubscriptionsForTrain(train.num).length > 0" type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="false"><mat-icon>notifications_active</mat-icon></button>
                  <button *ngIf="getSubscriptionsForTrain(train.num).length == 0" type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" [disabled]="true"><mat-icon>notifications</mat-icon></button>
                  <div class="dropdown-menu">
                    <div *ngFor="let s of getSubscriptionsForTrain(train.num)" class="dropdown-item">{{s.stationName}} <button type="button" class="btn btn-secondary btn-sm ml-2" (click)="remNotification(s.stationName, train.num)"><mat-icon>notifications_off</mat-icon></button></div>
                  </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" (click)="openMap(train.num, false)"><mat-icon>map</mat-icon></button>
                <button type="button" class="btn btn-primary btn-sm" (click)="setAndSearch(train.num)"><mat-icon>keyboard_arrow_right</mat-icon></button>
              </div>
            </div>
            <div class="container-fluid">
              <dl class="row mb-0 mt-1">
                <dt class="col-lg-5 col-sm-4">Origine</dt>
                <dd class="col-lg-7 col-sm-8">{{train.origin}}</dd>
                <dt class="col-lg-5 col-sm-4">Destinazione</dt>
                <dd class="col-lg-7 col-sm-8">{{train.destination}}</dd>
              </dl>
            </div>
          </li>
          <li *ngIf="favourites == undefined || favourites.length == 0" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <p>Effettua una ricerca e premi il pulsante <button type="button" class="btn btn-warning btn-sm"><mat-icon>star</mat-icon></button> posizionato accanto al nome della stazione per impostare un preferito</p>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #guest>
        Accedi o registrati per avere accesso ai preferiti.
      </ng-template>
    </ng-template>
  </div>
  <div class="col text-center">
    <h2>Ricerca Treno</h2>
    <form class="mb-4">
      <div class="form-group">
        <label for="inputTrainNumber">Numero del treno</label>
        <input type="number" class="form-control" id="inputTrainNumber" placeholder="Numero" name="Numero" [(ngModel)]="trainNumber">
      </div>
      <button type="submit" class="btn btn-primary" (click)="searchTrain()">Ricerca</button><br/>
      <ngb-alert *ngIf="notFound" type="danger" (close)="notFound = false" class="m-1">{{errorMessage}}</ngb-alert>
    </form>

    <div *ngIf="loading" class="loader"></div>

    <div *ngIf="trainInfo">
      <ng-template #tipContent>Il treno è già tra i preferiti.</ng-template>
      <div class="card my-2">
        <h5 class="card-header">{{trainInfo.name}}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-warning btn-sm" (click)="newFavourite(trainInfo)" [ngbTooltip]="tipContent" #t="ngbTooltip" triggers="manual"><mat-icon>star</mat-icon></button>
            <button type="button" class="btn btn-success btn-sm" (click)="openMap(trainInfo.code, true)"><mat-icon>map</mat-icon></button>
          </div>
        </h5>
        <div class="card-body">
          <p class="card-text">Partenza da {{trainInfo.origin}} alle {{trainInfo.start_time}}</p>
          <p class="card-text">Arrivo a {{trainInfo.destination}} alle {{trainInfo.arrival_time}}</p>
        </div>
        <div class="card-footer text-muted">
          Ultimo rilevamento: {{trainInfo.last_update_location}} alle {{trainInfo.last_update_time}}
        </div>
      </div>

      <div class="list-group" >
        <a class="list-group-item flex-column align-items-start text-left" *ngFor="let station of trainInfo.status">
          <div class="row">
            <div class="col-sm-4"><h4>{{station.name}}
              <div class="btn-group" role="group">
                <button *ngIf="!isSubscribed(station.name, trainInfo.code)" type="button" class="btn btn-dark btn-sm" (click)="subNotification(station.name, trainInfo.code)"><mat-icon>notifications</mat-icon></button>
                <button *ngIf="isSubscribed(station.name, trainInfo.code)" type="button" class="btn btn-secondary btn-sm" (click)="remNotification(station.name, trainInfo.code)"><mat-icon>notifications_active</mat-icon></button>
                <button type="button" class="btn btn-primary btn-sm" (click)="searchStation(station.name)"><mat-icon>keyboard_arrow_right</mat-icon></button>
              </div>
            </h4></div>
            <div class="col-sm-4 d-none d-sm-block">Previsto</div>
            <div class="col-sm-4 d-none d-sm-block">Effettivo</div>
          </div>
          <div class="row">
            <div class="col-4">Arrivo</div>
            <div class="col-4">{{station.est_arrival}}</div>
            <div class="col-4" [ngClass]="timeHighlightArr(station)">{{station.arrival}}</div>
          </div>
          <div class="row">
            <div class="col-4">Partenza</div>
            <div class="col-4">{{station.est_departure}}</div>
            <div class="col-4" [ngClass]="timeHighlightDep(station)">{{station.departure}}</div>
          </div>
          <div class="row">
            <div class="col-4">Binario</div>
            <div class="col-4">{{station.est_track}}</div>
            <div class="col-4">{{station.track}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
