<div class="container-fluid">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"><h1 class="display-4">TrainPlus</h1></a>
    </div>
  </div>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <img src="assets/logo.png" class="rounded mx-auto d-block" alt="Logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/station" routerLinkActive="active">Stazione</a>
        <a class="nav-item nav-link" routerLink="/train" routerLinkActive="active">Treno</a>
      </div>


      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">

        <li class="dropdown order-1">
          <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-primary dropdown-toggle">Login <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right mt-2">
            <li class="px-3 py-2">
              <div class="card" *ngIf="loggedIn">
                <div class="card-body">
                  <h5 class="card-title">Benvenuto {{userName}}!</h5>
                  <button type="submit" class="btn btn-primary btn-block" (click)="logout()">Logout</button>
                </div>
              </div>
              <form *ngIf="!loggedIn" class="form" role="form">
                <div class="form-group">
                  <label for="emailInput">Email</label>
                  <input id="emailInput" placeholder="Email" class="form-control form-control-sm" type="text" required="" [(ngModel)]="user.logemail" name="email">
                </div>
                <div class="form-group">
                  <label for="passwordInput">Password</label>
                  <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="password" required="" [(ngModel)]="user.logpassword" name="password">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" (click)="login()">Login</button>
                  <button href="#" class="btn btn-outline-primary btn-block" (click)="openRegistration()">Registrati</button>
                  <ngb-alert *ngIf="loginFail" type="danger" (close)="closeAlert(alert)">{{errorMsg}}</ngb-alert>
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!--
  <div *ngIf="showNotification" class="col-md-6">
    <ngb-alert type="info" class="trainNotification">{{notificationMessage}}</ngb-alert>
  </div>
-->
  <router-outlet ></router-outlet>
</div>
