button:focus {
  outline: 0;
}

.navbar .dropdown-menu {
  width: 300px;
}

.jumbotron {
  background-image: url("/assets/banner.png");
  background-color: #17234E;
  margin-bottom: 0;`enter code here`
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  color: #efefef;
}

.trainNotification {
  position: fixed;
  top: 10px;
}
