<div class="modal-header">
  <div>
  <h4 class="modal-title">Mappa per il treno {{trainInfo.name}}</h4>
  <small>Ultimo rilevamento: {{trainInfo.last_update_location}} alle {{trainInfo.last_update_time}}</small>
</div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <agm-map *ngIf="loaded" [latitude]="getLat(trainInfo.status[0].id)" [longitude]="getLon(this.trainInfo.status[0].id)">
    <agm-marker *ngFor="let s of trainInfo.status" [latitude]="getLat(s.id)" [longitude]="getLon(s.id)" [opacity]="getOpacity(s)">
      <agm-info-window>
        <strong>Stazione di {{s.name}}</strong>
        <p>
          Arrivato alle: {{s.arrival}}<br/>
          Partito alle: {{s.departure}}
        </p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Chiudi</button>
</div>
