<div class="row">
  <div class="col-md-8">
    <h2 class="text-center">Ricerca Viaggio</h2>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="origin">Partenza</label>
          <input name="origin" [(ngModel)]="trip.origin" type="text" class="form-control" id="origin" placeholder="Partenza" [ngbTypeahead]="search" [resultFormatter]="formatter">
        </div>
        <div class="form-group col-md-6">
          <label for="destination">Destinazione</label>
          <input name="destination" [(ngModel)]="trip.destination" type="text" class="form-control" id="destination" placeholder="Destinazione" [ngbTypeahead]="search" [resultFormatter]="formatter">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="dateInput">Data</label>
            <div class="input-group">
              <input id="dateInput" class="form-control" placeholder="yyyy-mm-dd"
              name="date" [(ngModel)]="trip.date" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                  <mat-icon>calendar_today</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="inputTime">Ora</label>
          <ngb-timepicker name="time" [(ngModel)]="trip.time" id="inputTime" ng-model="time" [spinners]="false"></ngb-timepicker>
        </div>
        <div class="form-group col-md-3 text-center">
          <button id="buttonSearch" type="submit" class="btn btn-primary btn-block mx-auto" (click)="searchSolution()">Ricerca</button>
        </div>
      </div>
      <ngb-alert *ngIf="notFound" type="danger" (close)="notFound = false" class="m-1">{{errorMessage}}</ngb-alert>
    </form>

    <div *ngIf="loading" class="loader"></div>

    <div *ngIf="tripInfo" class="my-2">
      <div *ngFor="let tr of tripInfo; index as t" [attr.data-index]="t" class="card text-center mt-2">
        <div class="card-header">
          <div class="d-flex w-100 px-3 justify-content-between">
            <div class="col text-left"><h4>{{tr.origin}} - {{tr.departure_time}}</h4></div>
            <div class="col-2 align-bottom inline-block">{{tr.duration}} <i class="material-icons">timer</i></div>
            <div class="col text-right"><h4>{{tr.arrival_time}} - {{tr.destination}}</h4></div>
          </div>
        </div>
        <div class="card-body">
          <nav>
            <div class="d-flex w-100 px-3 justify-content-between">
              <div class="nav nav-tabs w-100" id="nav-tab" role="tablist">
                <a *ngFor="let vehicle of tr.trains; index as i" [attr.data-index]="i" class="nav-item nav-link" id="nav-train{{t}}{{i}}-tab" data-toggle="tab" href="#nav-train{{t}}{{i}}" role="tab" aria-controls="nav-profile" aria-selected="false">{{vehicle.name}}</a>
              </div>
              <div>
                <h4><span class="badge" [ngClass]="getBadgeClass(tr.changes)">Cambi: {{tr.changes}}</span></h4>
              </div>
            </div>
          </nav>
          <div class="tab-content solTab" id="nav-tabContent">
            <div *ngFor="let vehicle of tr.trains; index as i" [attr.data-index]="i" class="tab-pane fade" id="nav-train{{t}}{{i}}" role="tabpanel" aria-labelledby="contact-tab">
              <div class="row px-lg-5 px-md-1 pt-3">
                <div class="col text-left">{{vehicle.departure_station}} - {{vehicle.departure_time}}</div>
                <div class="col-2">{{vehicle.duration}}</div>
                <div class="col text-right">{{vehicle.arrival_time}} - {{vehicle.arrival_station}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col px-2">
    <h2 class="text-center">News</h2>
    <ngb-tabset (tabChange)="loadScript()" >
      <ngb-tab title="News">
        <ng-template ngbTabContent class="newsTab">
          <div class="card mb-2" *ngFor="let n of news" [ngClass]="{'border-danger': !n.primoPiano}">
            <div class="card-body">
              <h5 class="card-title">{{n.titolo}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{n.data}}</h6>
              <p class="card-text">{{n.testo}}</p>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="@FSNews">
        <ng-template ngbTabContent class="newsTab">
          <a class="twitter-timeline" data-lang="it" href="https://twitter.com/fsnews_it?ref_src=twsrc%5Etfw">
            <div class="progress mx-2 my-4">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            Caricamento Tweets di @fsnews_it
          </a>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="@LeFrecce">
        <ng-template ngbTabContent class="newsTab">
          <a class="twitter-timeline" data-lang="it" href="https://twitter.com/LeFrecce?ref_src=twsrc%5Etfw">
            <div class="progress mx-2 my-4">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
            Caricamento Tweets di @LeFrecce
          </a>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
