<div class="row">
  <div class="col-md-4 order-last order-md-first">
    <h2 class="text-center">Preferiti</h2>
    <div *ngIf="favourites == undefined && isLoggedIn; else loaded" class="loader"></div>
    <ng-template #loaded>
      <div *ngIf="isLoggedIn; else guest">
        <ul class="list-group">
          <li *ngFor="let station of favourites" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-2">Stazione di  {{station.name}}</h5>
              <div class="btn-group" role="group">
                <button *ngIf="station.isFavourite" type="button" class="btn btn-warning btn-sm" (click)="setFavourite(station, false)"><mat-icon>star</mat-icon></button>
                <button *ngIf="!station.isFavourite" type="button" class="btn btn-outline-warning btn-sm" (click)="setFavourite(station, true)"><mat-icon>star_border</mat-icon></button>
                <button type="button" class="btn btn-success btn-sm" (click)="openMap(station)"><mat-icon>map</mat-icon></button>
                <button type="button" class="btn btn-primary btn-sm" (click)="setAndSearch(station.name)"><mat-icon>keyboard_arrow_right</mat-icon></button>
              </div>
            </div>
            <p>Regione: {{station.region}}</p>
          </li>
          <li *ngIf="favourites == undefined || favourites.length == 0" class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <p>Effettua una ricerca e premi il pulsante <button type="button" class="btn btn-warning btn-sm"><mat-icon>star</mat-icon></button> posizionato accanto al nome della stazione per impostare un preferito</p>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #guest>
        Accedi o registrati per avere accesso ai preferiti.
      </ng-template>
    </ng-template>
  </div>
  <div class="col text-center">
    <h2>Ricerca Stazione</h2>
    <form class="mb-4">
      <div class="form-group">
        <label for="inputStationName">Nome della stazione</label>
        <input type="text" class="form-control" id="inputStationName" placeholder="Cesena" name="Nome" [(ngModel)]="stationName" [ngbTypeahead]="search" [resultFormatter]="formatter">
      </div>
      <button type="submit" class="btn btn-primary" (click)="searchStation()">Ricerca</button><br/>
      <ngb-alert *ngIf="notFound" type="danger" (close)="notFound = false" class="m-1">{{errorMessage}}</ngb-alert>
    </form>

    <div *ngIf="loading" class="loader"></div>

    <div class="card my-2" *ngIf="stationInfo">
      <ng-template #tipContent>La stazione è già tra i preferiti.</ng-template>
      <h5 class="card-header">Stazione di {{stationInfo.name}}
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-warning btn-sm" (click)="newFavourite(stationInfo)" [ngbTooltip]="tipContent" #t="ngbTooltip" triggers="manual"><mat-icon>star</mat-icon></button>
          <button type="button" class="btn btn-success btn-sm" (click)="openMap(stationInfo)"><mat-icon>map</mat-icon></button>
        </div>

      </h5>
      <div class="card-body">
        <ngb-tabset  [justify]="currentJustify">
          <ngb-tab title="Arrivi">
            <ng-template ngbTabContent>
              <div class="list-group">
                <a class="list-group-item flex-column align-items-start" *ngFor="let train of stationInfo.arrival">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{train.name}}
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-sm" (click)="searchTrain(train.code)"><mat-icon>keyboard_arrow_right</mat-icon></button>
                      </div>
                    </h5>
                    <small [ngClass]="(train.delay > 4) ? 'text-danger' : ''">Ritardo {{train.delay}} minuti</small>
                  </div>
                  <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">{{train.time}} - Proveniente da {{train.station}}</p>
                    <small>Binario {{train.track}}</small>
                  </div>
                </a>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Partenze">
            <ng-template ngbTabContent>
              <div class="list-group">
                <a class="list-group-item flex-column align-items-start" *ngFor="let train of stationInfo.departure">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{train.name}}
                      <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-sm" (click)="searchTrain(train.code)"><mat-icon>keyboard_arrow_right</mat-icon></button>
                      </div>
                    </h5>
                    <small [ngClass]="(train.delay > 4) ? 'text-danger' : ''">Ritardo {{train.delay}} minuti</small>
                  </div>
                  <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">{{train.time}} - Termina a {{train.station}}</p>
                    <small>Binario {{train.track}}</small>
                  </div>
                </a>
              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
