<div class="modal-header">
  <h4 class="modal-title">Registrati qui</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form>
  <div class="modal-body">
    <div class="form-group form-check">
      <label for="inputEmail">Indirizzo Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Inserisci l'email" name="email" [disabled]="attempt"
      [(ngModel)]="user.email.value" [ngClass]="{'is-valid': validated && user.email.isValid, 'is-invalid': validated && !user.email.isValid}">
      <div class="valid-feedback">
        Indirizzo email inserito correttamente!
      </div>
      <div class="invalid-feedback">
        L'indirizzo email inserito non è valido.
      </div>
    </div>
    <div class="form-group form-check">
      <label for="inputNick">Nome Utente</label>
      <input type="text" class="form-control" id="inputNick" placeholder="Inserisci un nome utente" name="username" [disabled]="attempt"
      [(ngModel)]="user.username.value" [ngClass]="{'is-valid': validated && user.username.isValid, 'is-invalid': validated && !user.username.isValid}">
      <div class="valid-feedback">
        Nome utente inserito correttamente!
      </div>
      <div class="invalid-feedback">
        Il nome utente scelto è troppo corto.
      </div>
    </div>
    <div class="form-group form-check">
      <label for="inputPsw">Password</label>
      <input type="password" class="form-control" id="inputPsw" placeholder="******" name="password1" [disabled]="attempt"
      [(ngModel)]="user.password1.value" [ngClass]="{'is-valid': validated && user.password1.isValid, 'is-invalid': validated && !user.password1.isValid}">
      <div class="valid-feedback">
        La password è valida!
      </div>
      <div class="invalid-feedback">
        La password inserita è troppo corta.
      </div>
    </div>
    <div class="form-group form-check">
      <label for="inputPsw2">Ripeti Password</label>
      <input type="password" class="form-control" id="inputPsw2" placeholder="******" name="password2" [disabled]="attempt"
      [(ngModel)]="user.password2.value" [ngClass]="{'is-valid': validated && user.password2.isValid, 'is-invalid': validated && !user.password2.isValid}">
      <div class="valid-feedback">
        Le due password inserite corrispondono!
      </div>
      <div class="invalid-feedback">
        Conferma la password inserita.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="register()" [disabled]="attempt">Registrati</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Chiudi</button>
  </div>
  <div class="px-3">
    <ngb-alert *ngIf="regOK" type="success" (close)="closeAlert(alert)">Registrazione effettuata con successo!</ngb-alert>
    <ngb-alert *ngIf="regFail" type="danger" (close)="closeAlert(alert)">Errore durante la registrazione, riprovare più tardi.</ngb-alert>
  </div>
</form>
