<div class="modal-header">
  <h4 class="modal-title">Mappa per {{station.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <agm-map [latitude]="station.lat" [longitude]="station.lon">
    <agm-marker [latitude]="station.lat" [longitude]="station.lon">
      <agm-info-window>
        <strong>Stazione di {{station.name}}</strong>
        <p>
          Regione: {{station.region}}<br/>
          Latitudine: {{station.lat}}<br/>
          Longitudine: {{station.lon}}
        </p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Chiudi</button>
</div>
